.toDoList {
    font-family: monospace;
    text-align: center;
    margin: 50px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.addButton {
    background-color: hsl(125, 47%, 54%);
    font-size: 1.7rem;
    font-weight: bold;
    font-family: monospace;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.addButton:hover {
    background-color: hsl(125, 47%, 44%);
}

.completeButton {
    background-color: hsl(125, 47%, 44%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.completeButton:hover {
    background-color: hsl(125, 47%, 44%);
}

.deleteButton {
    background-color: hsl(10, 90%, 50%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.deleteButton:hover {
    background-color: hsl(10, 90%, 40%);
}

.moveButton {
    background-color: hsl(207, 90%, 64%);
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.moveButton:hover {
    background-color: hsl(207, 90%, 54%);
}

.toDoInput {
    font-size: 1.6rem;
    padding: 10px;
    margin: 5px;
    border: 2px solid hsla(0, 0%, 80%, .5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, .5);
    font-family: monospace;
}

ol {
    padding: 0;
}

li {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, .76);
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.text {
    flex: 1;
}

.deleteButton,
.completeButton {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.moveButton {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-right: 10px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.tasks,
.completedTasks {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.completedTasks .text {
    flex: 1;
    text-decoration: line-through;
    color: hsla(0, 0%, 50%, 1);
}

.leftButtons {
    display: flex;
    margin-right: 10px;
}

@media (max-width: 870px) {
.toDoInput {
    font-size: 1.4rem;
    padding: 10px;
    margin: 5px;
}

.addButton {
    font-size: 1.4rem;
    padding: 10px 20px;
}

.tasks,
.completedTasks {
    margin-top: 0px;
}
}

@media (max-width: 630px) {
    .completeButton,
    .deleteButton,
    .moveButton {
        font-size: 1.2rem;
        padding: 2px 4px;
    }

    .moveButton {
        margin-right: 5px;
    }

    .completeButton, 
    .deleteButton {
        margin-left: 5px;
    }

    .addButton {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

    .toDoInput {
        font-size: 1.2rem;
        padding: 8px;
    }

    li {
        font-size: 1.2rem;
        padding: 2px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 540px) {
    .completeButton,
    .deleteButton,
    .moveButton {
        font-size: 1rem;
        padding: 2px 4px;
    }

    .moveButton {
        margin-right: 2.5px;
    }

    .completeButton, 
    .deleteButton {
        margin-left: 2.5px;
    }

    .addButton {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .toDoInput {
        font-size: 1rem;
        padding: 8px;
    }

    li {
        font-size: 1rem;
        padding: 2px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 395px) {
    .completeButton,
    .deleteButton,
    .moveButton {
        font-size: .8rem;
        padding: 2px 4px;
    }

    .moveButton {
        margin-right: 2.5px;
    }

    .completeButton, 
    .deleteButton {
        margin-left: 2.5px;
    }

    .addButton {
        font-size: .8rem;
        padding: 8px 16px;
    }

    .toDoInput {
        font-size: .8rem;
        padding: 8px;
    }

    li {
        font-size: .8rem;
        padding: 2px;
    }

    h2 {
        font-size: 1rem;
    }
}