.todolist {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 100px auto;
    width: 50%;
    /* background-image: url(src/assets/digitalclockbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

h1 {
    font-size: 4rem;
}

.addbutton {
    background-color: hsl(125, 47%, 54%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.addbutton:hover {
    background-color: hsl(125, 47%, 44%);
}

.completebutton {
    background-color: hsl(125, 47%, 44%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.completebutton:hover {
    background-color: hsl(125, 47%, 44%);
}

.deletebutton {
    background-color: hsl(10, 90%, 50%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.deletebutton:hover {
    background-color: hsl(10, 90%, 40%);
}

.movebutton {
    background-color: hsl(207, 90%, 64%);
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.movebutton:hover {
    background-color: hsl(207, 90%, 54%);
}

.toDoInput {
    font-size: 1.6rem;
    padding: 10px;
    margin: 5px;
    border: 2px solid hsla(0, 0%, 80%, .5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, .5);
}

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, .76);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.deletebutton, .movebutton, .completebutton {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

/* New styles for CompletedTasks component */
.completedtasks {
    margin-top: 50px;
    text-align: center;
}

.completedtasks h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.completedtasks ol {
    padding: 0;
}

.completedtasks li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, .76);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.completedtasks .text {
    flex: 1;
    text-decoration: line-through;
    color: hsla(0, 0%, 50%, 1);
}