/* RandomTrivia.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically and horizontally */
    height: 100vh; /* Full viewport height */
    font-family: monospace;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    transition: all 0.5s ease-in-out; /* Add transition for all properties */
}

.triviaButton {
    padding: 10px 20px;
    font-size: 3rem;
    font-family: monospace;
    background-color: hsl(225, 44%, 66%);
    transition: all 0.5s ease-in-out; /* Add transition for all properties */
    position: absolute; /* Ensure the button can be moved */
    top: 45%;
}

.triviaButtonTop {
    animation: 2s moveToTop forwards;
}

.triviaButton:hover {
    background-color: hsl(225, 44%, 50%);
    transform: scale(1.1);

}

.questionContainer {
    height: 70vh;
    width: 80vw;
    text-align: center;
    padding: 20px;
    border: 5px solid hsl(225, 44%, 66%);
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add some space between the button and the question container */
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveToTop {
    0% {
        top: 45%;
    }
    100% {
        top: 5%;
        font-size: 1rem;
    }
}

.questionContainer p {
    margin: 20px;
}

.optionsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create a 2 by 2 grid */
    gap: 20px; /* Add space between the grid items */
    margin-top: 20px; /* Add some space between the question and the options */
}

.optionsContainer :nth-child(1 of div),
.optionsContainer :nth-child(3 of div) {
    margin: 0 0 0 auto;
}

.optionsContainer :nth-child(2 of div),
.optionsContainer :nth-child(4 of div) {
    margin: 0 auto 0 0;
}

.option {
    height: 20vh;
    width: 36vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid hsl(225, 44%, 66%);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.option:hover {
    border: 5px solid hsl(225, 44%, 50%);
}

.option input {
    display: none; /* Hide the radio buttons */
}

.option label {
    font-size: 2.5rem; /* Set the font size of the answer options */
    margin: 0 auto;
}

.option.correct {
    background-color: hsl(147, 44%, 50%); /* Highlight the correct option */
    color: white;
}

.option.incorrect {
    background-color: hsl(0, 65%, 60%); /* Highlight the incorrect option */
    color: white;
}
