.card {
  position: relative;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, .1);
  max-height: 250px;
  max-width: 250px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.cardContent {
  padding-bottom: 50px;
}

.cardLink {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.cardButton {
  padding: 10px 10px;
}

.card .cardimg {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .cardtitle {
  font-family: monospace;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .cardtext {
  font-family: monospace;
  color: hsl(0, 0%, 30%);
}
