body {
    font-family: monospace;
}

.colorPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
}

.colorDisplay {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 5px solid hsl(0, 0%, 80%);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: .25s ease;
}

.colorDisplay p {
    color: hsl(0, 0%, 20%);
    font-size: 1rem;
    text-align: center;
    color: black;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="color"] {
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 80%);
}

@media (max-width: 1200px) {
    /* .colorPickerContainer {
        width: 150px;
    } */

    .colorDisplay {
        height: 175px;
        width: 175px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .colorDisplay p {
        font-size: 0.8rem;
    }

    label {
        font-size: 1rem;
    }

    input[type="color"] {
        width: 60px;
        height: 40px;
    }
}