body {
    font-family: monospace;
}

.colorPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
}

.colorDisplay {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 5px solid hsl(0, 0%, 80%);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: .25s ease;
}

.colorDisplay p {
    color: hsl(0, 0%, 20%);
    font-size: 1rem;
    text-align: center;
    color: black;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="color"] {
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid hsl(0, 0%, 80%);
}

@media (max-width: 1260px) {

    .colorDisplay {
        height: 175px;
        width: 175px;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .colorDisplay p {
        font-size: 0.8rem;
    }

    label {
        font-size: 1rem;
        margin-bottom: 8px;

    }

    input[type="color"] {
        width: 60px;
        height: 40px;
    }
}

@media (max-width: 1020px) {

    .colorDisplay {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 895px) {

    .colorDisplay {
        height: 125px;
        width: 125px;
        border: 3px solid hsl(0, 0%, 80%);
        margin-bottom: 6px;
    }

    .colorDisplay p {
        font-size: 0.6rem;
    }

    label {
        font-size: .8rem;
        margin-bottom: 6px;
    }

    input[type="color"] {
        width: 50px;
        height: 30px;
        padding: 2px;
    }
}

@media (max-width: 745px) {
    .colorDisplay {
        height: 100px;
        width: 100px;
    }

    label {
        font-size: .6rem;
    }
}

@media (max-width: 580px) {
    .colorDisplay {
        height: 125px;
        width: 125px;
        margin-bottom: 5px;
        border: 2px solid hsl(0, 0%, 80%);

    }

    label {
        margin-bottom: 5px;
    }
}
