.paletteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: auto;
}

.paletteHeader {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.colorPickers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.gradientBar {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 40px; 
    border: 5px solid hsl(0, 0%, 80%);
    border-radius: 10px;
}

@media (max-width: 1260px) {
    .paletteHeader {
        font-size: 1.5rem;
    }

    .colorPickers {
        gap: 20px;
    }

    .gradientBar {
        width: 80%;
        height: 80px;
    }
}

@media (max-width: 1260px) {
    .gradientBar {
        width: 75%;
        height: 60px;
    }
}

@media (max-width: 895px) {
    .gradientBar {
        height: 50px;
        margin-top: 20px; 
        border: 3px solid hsl(0, 0%, 80%);
    }
}

@media (max-width: 745px) {
    .colorPickers {
        gap: 10px;
    }
}

@media (max-width: 580px) {
    .wrapper {
        display: flex;
    }

    .paletteContainer {
        width: 50%;
    }

    .colorPickers {
        flex-direction: column;
        gap: 20px;
    }

    .gradientBar {
        width: 100%;
        height: 50px;
        /* margin: auto; */
        transform: rotate(90deg);
        border: 2px solid hsl(0, 0%, 80%);
    }

    .gradientContainer {
        display: flex;
        margin: auto;
        width: 50%;
    }
}