html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

@media (max-width: 1194px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    place-items: center;
  }

  .container :nth-child(1),
  .container :nth-child(3) {
    margin: 0 0 0 auto;
  }

  .container :nth-child(2),
  .container :nth-child(4) {
    margin: 0 auto 0 0;
  }
}

@media (max-width: 680px) {
  .container {
    grid-template-columns: none;
    align-content: flex-start;
    padding: 20px 0;
    height: fit-content;
  }
}
